body{
    /* background-color: aqua; */
    margin: 0;
    text-align: center;
}

.top-container{
    /* background-color: #E4F9F5; */
    /* background-image: url(/images-kdm/WhatsApp\ Unknown\ 2021-02-06\ at\ 1.10.01\ PM/front.jpeg); */
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
    margin: 50px auto 0 auto;
}

.middle-container{
    background-color: coral;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.amenities{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.amenities-list{
    font-weight:bold;
    text-align: left;
}

.h2{
    padding-bottom: 25px;
}

img{
    max-width: 100%;
    background-size: cover;
    border-radius: 15px;
    padding: 10px;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.bottom-container{
    background-color: #66BFBF; 
    padding: 50px 0 20px;  
}